# To use: pre-commit run -a
# Or: pre-commit install  # (runs every time you commit in git)
# To update this file: pre-commit autoupdate
# See https://github.com/pre-commit/pre-commit

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-builtin-literals
  - id: check-case-conflict
  - id: check-illegal-windows-names
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-json
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: check-executables-have-shebangs
    exclude: |
            (?x)^(
                .*.bat|
                .*.ps1
            )$
  - id: trailing-whitespace
    exclude: |
            (?x)^(
                .*\.md|
                .github/ISSUE_TEMPLATE/.*\.yml
            )$
- repo: https://github.com/oliv5/pre-commit-indents-to-spaces
  rev: v0.0.3
  hooks:
  - id: indents-to-spaces
    args: ["--spaces=4"]
    types: [python]
  - id: indents-to-spaces
    args: ["--spaces=2"]
    types: [file]
    files: \.(json|js|mjs|css|html|md|yaml|toml|sh)$
